#about {
    margin: auto;
    border-radius: 75px;
    width: 50%;
    background-color: #A6A3E0;
    color: black;
    text-align: justify;
    padding: 70px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

#about-content {
    display: flex;
}

#about-text {
    flex: 1;
    margin: auto;
    width: 50%;
    margin-right: auto;
    padding-right: 40px;
}

#about h2 {
    text-align: center;
}

#image-me {
    max-width: 200px;
    object-fit: scale-down;
    border-radius: 45px;
    flex: 50%;
}

.collapse {
    width: 50%;
    display: block;
    margin: auto;
    border-radius: 40px;
    background-color: #A6A3E0;
    color: black;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    border-width: 0;
    padding: 25px;
}

.show {
    transition: border-bottom-right-radius 0.3s 0.3s, border-bottom-left-radius 0.3s 0.3s;

}

.section {
    margin: auto;
    border-radius: 75px;
    width: 50%;
    background-color: #A6A3E0;
    color: black;
    text-align: left;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

h3 {
    text-align: left;
}

h4 {
    font-weight: 200;
}

@media screen and (max-width: 1360px) {

    #about, .collapse {
        width: 60%;
        border-radius: 50px;
    }

    .section {
        width: 60%;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
        text-align: left;
    }

    #about-content, #about-text, #image-me {
        display: block;
        margin: auto;
    }

    #about-content, #image-me {
        padding: 0px;
        margin: auto;
    }

    #about-text {
        width: 100%;
        padding: 0%;
    }
}

@media screen and (max-width: 800px) {
    #about, .collapse {
        width: 90%;
        padding: 15px;
        border-radius: 40px;
        display: block;
    }

    #about-text{
        width: 100%;
        padding: 0%;
    }

    .section {
        width: 90%;
        text-align: left;
    }
}