body {
    background-color: black;
    color: white;
}

#welcome {
    height: 400px;
    align-content: center;
    text-align: center;
    margin: auto;
}

#welcome h1 {
    color: white;
    font-style: bold;
}

#welcome h3 {
    color: white;
    font-style: italic;
}

#about {
    margin: auto;
    border-radius: 75px;
    width: 40%;
    background-color: #A6A3E0;
    color: black;
    text-align: justify;
    padding: 70px;
    padding-top: 20px;
}

#about h2 {
    text-align: center;
}

#image-me {
    width: 200px;
    display: block;
    margin: auto;
    border-radius: 45px;
}

#my-projects {
    margin: auto;
    border-radius: 75px;
    width: 40%;
    background-color: #A6A3E0;
    color: black;
    text-align: justify;
    padding: 70px;
    padding-top: 20px;
}

#my-projects h2, h3 {
    text-align: center;
}

#github-link {
    text-decoration: none;
}

#project-links {
    margin: auto;
    border-radius: 75px;
    width: 40%;
    background-color: #A6A3E0;
    color: black;
    text-align: center;
    align-items: center;
    padding: 70px;
}

#projects-button {
    display: block;
    text-align: center;
    font-size: 20px;
    background-color: #1F255C;
    color: white;
    text-decoration: none;
    padding: 15px;
    width: 250px;
    margin: auto;
    border-radius: 75px;
}


@media screen and (max-width: 800px) {
    #welcome, #about, #my-projects, #project-links {
        width: 85%;
        padding: 25px;
    }
}