* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    overflow: hidden;
}

#container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#content {
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
}

#welcome {
    height: 400px;
    width: max-content;
    align-content: center;
    text-align: center;
    margin: auto;
    z-index: 3;
}

@keyframes growH1 {
    from {
        font-size: 2px;
        color: transparent;
    }
    to {
        font-size: 30px;
        color: white;
    }
}

@keyframes growH3 {
    from {
        font-size: 2px;
        color: transparent;
    }
    to {
        font-size: 18px;
        color: white;
    }
}

@keyframes fadeIn {
    from {
        color: transparent;
    }
    to {
        color: white;
    }
}

#welcome h1{
    z-index: 3;
    animation: growH1 3.0s ease forwards;
}

#welcome h3{
    z-index: 3;
    animation: growH3 3.0s ease forwards;
}

#my-projects {
    margin: auto;
    border-radius: 75px;
    width: 40%;
    background-color: #A6A3E0;
    color: black;
    text-align: justify;
    padding: 70px;
    padding-top: 20px;
}

#my-projects h2, h3 {
    text-align: center;
}

#github-link {
    text-decoration: none;
}

#project-links {
    margin: auto;
    border-radius: 75px;
    width: 40%;
    background-color: #A6A3E0;
    color: black;
    text-align: center;
    align-items: center;
    padding: 70px;
}

#projects-button {
    display: block;
    text-align: center;
    font-size: 20px;
    background-color: #1F255C;
    color: white;
    text-decoration: none;
    padding: 15px;
    width: 250px;
    margin: auto;
    border-radius: 75px;
}

#particles {
    background-color: black;
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.particle {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: #A6A3E0;
    border-radius: 75px;
    box-shadow: 0 0 0px 0px #A6A3E0;
    transition: top 3.0s ease-in-out, left 2.5s ease-in-out, box-shadow 2.0s ease;
    z-index: 1;
}

footer {
    display: block;
    width: 100%;
    bottom: 0px;
    text-align: center;
    padding: 3px;
}

@media screen and (max-width: 800px) {
    #welcome, #my-projects, #project-links {
        width: 90%;
        padding: 20px;
    }
}

@media screen and (max-width: 1150px){
    body {
        overflow: auto;
        padding-bottom: 80px;
    }

    #my-projects, #project-links {
        width: 80%;
        border-radius: 40px;
    }

    #welcome h1, #welcome h3 {
        animation: fadeIn 3.0s ease forwards;
    }
}