body {
    background-color: black;
    color: white;
}

#game-div {
    background-color: #A6A3E0;
    width: 50%;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    border-radius: 75px;
    padding: 30px;
    color: black;
}

.header {
    text-align: center;
}

.rules {
    text-align: left;
    margin-left: 30px;
}

table{
    margin: auto;
    border: 3px black solid;
    border-spacing: 0;
}

td {
    border: 1px solid gray;
    width: 40px;
    height: 40px;
}

.button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 50px;
    border: #3F1F5C 2px solid;
    background-color: #3F1F5C;
    color: white;
}

.button:hover {
    background-color: #C9ABE3;
    color: black;
    cursor: pointer;
}

.game {
    display: none;
}

.image {
    width: 36px;
}

@media screen and (max-width: 800px) {
    #game-div {
        width: 90%;
        padding: 20px;
    }
}